<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <script src="form.js"></script>
</head>
<body>
    <h1>Feed</h1>
    <div style="display: flex;">
        <div style="flex: 30%">
            <nav>
                <a href="logout"></a>
                <a href="rewards"></a>
                <a href="admin"></a>
            </nav>
        </div>
        <div style="flex: 70%">
            <div id="error"></div>
            <form id="create_post">
                <!-- <label for="owner">Username</label> -->
                <input type="text" name="owner" id="owner" value="Test2" style="display: none;">
                <label for="text">Post Text</label>
                <input type="text" name="text" id="text">
                <input type="submit" value="Submit">
            </form>
            <script>document.getElementById('create_post').addEventListener('submit', (e) => { submitForm(e, '/post', document.getElementById('create_post')) } )</script>


            <div id="posts"></div>

            <script>
                // fetch('w5fqdgkvfb.execute-api.ap-southeast-2.amazonaws.com/test/post', {
                //     body: JSON.stringify({
                //         sources: ['Test'],
                //         max: 5
                //     })
                // }).then(res => JSON.parse(res))
                // .then(res => {
                //     res.forEach(post => {
                //         let doc = document.createElement('div')
                //         doc.innerText = res
                //         document.getElementById('posts').appendChild(doc)
                //     })
                // })
            </script>
        </div>
    </div>
</body>
</html>